@model ProjectSoPro.Models.PersonRoles

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PersonRoles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RolesId" />
            <div class="form-group">
                <label asp-for="actors" class="control-label"></label>
                <input asp-for="actors" class="form-control" />
                <span asp-validation-for="actors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="directors" class="control-label"></label>
                <input asp-for="directors" class="form-control" />
                <span asp-validation-for="directors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="producers" class="control-label"></label>
                <input asp-for="producers" class="form-control" />
                <span asp-validation-for="producers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movieid" class="control-label"></label>
                <select asp-for="Movieid" class="form-control" asp-items="ViewBag.Movieid"></select>
                <span asp-validation-for="Movieid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Personid" class="control-label"></label>
                <select asp-for="Personid" class="form-control" asp-items="ViewBag.Personid"></select>
                <span asp-validation-for="Personid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
